<<<<<<< HEAD
=======
body {
    background-image: url("../images/Cave_Background.jpg");
    background-size: cover
}

>>>>>>> origin/master
.crystals {
    height: 100px;
    width: 100px;
    margin: 20px;
}

.crystal-image {
    height: 100%;
    width: 100%;
<<<<<<< HEAD
}
=======
}

h1, h2, h3 {
    color: white;
}

h1 {
    text-decoration: underline;
}
>>>>>>> origin/master
