body {
    background-image: url("../images/Cave_Background.jpg");
    background-size: cover;
    font-family: 'Spectral SC', serif;
    text-align: center;
    margin: auto;
}

.row {
    text-align: justify;
}

p {
    color: #4ae9d4;
}

#objective {
    width: 42%;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    position: relative;
    margin: 0 auto;
}
.container {
    margin: auto;
    text-align: center;
}
.crystal-image {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 0 5px;
    position: relative;
    
}
h1 {
    color: #2367d1;
}
h2, h3 {
    color: #4ae9d4;
}

h1 {
    text-decoration: underline;
}

#header {
    margin: 0 auto;
    position: relative;
}

.crystals {
    margin: 0 auto;
    width: 40%;
}